
body {
  background-color: #b8f0e2;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}



.card {
  border-radius: 20px;
  background: #ffffff;
  padding: 40px;
  border: 1px solid #d0eae3;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.18);
}

.card h3 {
  font-weight: 700;
  color: #2c5250;
}



.form-control,
.form-select,
textarea {
  border-radius: 12px !important;
  background-color: #f5fffc;
  border: 1px solid #9fd6c9;
  padding: 12px;
  transition: 0.3s;
}

.form-control:focus,
.form-select:focus,
textarea:focus {
  border-color: #6cd6c0;
  box-shadow: 0px 0px 8px rgba(108, 214, 192, 0.5);
  background-color: #ffffff;
}


.form-label {
  font-weight: 600;
  color: #2c5250;
}



.text-danger {
  color: #d62828 !important;
  font-size: 14px;
}



.btn-primary {
  background-color: #57cbbb;
  border: none;
  border-radius: 14px;
  padding: 12px 0;
  font-size: 17px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #42b3a4;
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(66, 179, 164, 0.4);
}

.btn-primary:active {
  transform: scale(0.97);
}
